@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
@model HW1BirthdayCardGenerator.Models.CardGenerator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>

      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



</head>
<body>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back</a>
</div>
</body>
</html>
